body, html {
  height: 100%;
  margin: 0;
}

#background {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  pointer-events: none;
}

.question-mark {
  position: absolute;
  color: #808080;
  user-select: none;
  pointer-events: none;
  font-family: Arial, sans-serif;
  opacity: 0.2;
}

